/*html {
    background-image: url("img/visitmed.png");
}
body .login-page {
    background-image: url("img/visitmed.png");
}*/

.user-panel {
    height: 60px;
}

.user-panel>.info {
    position: relative;
    left: auto;
}
.skin-blue .sidebar-menu>li.header {
     color: white;
 }

 .login-page .main-footer {
     display: none;
 }
